.que.unittest textarea.qtype_unittest_response {
    width: 100%;
}
.que.unittest textarea.qtype_unittest_response.qtype_unittest_plain {
    white-space: pre-wrap;
    font: inherit;
}
.que.unittest textarea.qtype_unittest_response.qtype_unittest_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}
.que.unittest .qtype_unittest_response {
    min-height: 3em;
}
.que.unittest .qtype_unittest_response.readonly {
    background-color: white;
}
.que.unittest div.qtype_unittest_response textarea {
    width: 100%;
}
